html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #fff;
  margin: 0 auto;
  font-smoothing: antialiased;
  font-weight: 300;
}

.fullheight {
  height: 100%;
}

